@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --primary-color: #5040ff;
  --secondary-color: #5c9f52;
}

body {
  font-family: rubik;
}
.card {
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 0.2em;
  width: 100%;
  max-width: 300px;
  max-height: 300px;

  &__card__attr-title {
    font-weight: 500;
  }

  &__departure > * {
    margin: 0;
  }

  &__prop-title {
    font-size: 1em;
    font-weight: 500;
  }

  &__attr-title {
    color: var(--primary-color);
    font-weight: 500;
  }
  p {
    color: var(--secondary-color);
    font-size: 0.8em;
    font-weight: 100;
    margin: 0.3em 0;
  }

  &__travel-scheme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
  }

  &__departure-image-container {
    margin-bottom: 0.1em;
    img {
      width: 80%;
    }
  }

  &__price {
    // margin: 0;
    color: var(--secondary-color);
    font-family: rubik;
    font-size: 2em;
    font-weight: 400;
  }
}
